/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
p {
  font: 16px/18px OpenSansBold;
}

/* line 9, ../sass/style.scss */
h3 {
  font: 32px/46px OpenSansSemiBold;
  text-transform: uppercase;
  text-align: center;
}

/* line 15, ../sass/style.scss */
h4 {
  font: 20px/30px OpenSansSemiBold;
}

/* line 19, ../sass/style.scss */
.box {
  padding: 100px 0;
}

/* line 23, ../sass/style.scss */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* line 34, ../sass/style.scss */
.loader-inner {
  background-image: url("../img/preload.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* line 48, ../sass/style.scss */
.main-head {
  min-height: 300px;
}
/* line 50, ../sass/style.scss */
.main-head .top-line {
  padding-top: 50px;
}
/* line 52, ../sass/style.scss */
.main-head .top-line .btn {
  margin-top: 12px;
}
/* line 56, ../sass/style.scss */
.main-head .head-content {
  margin-top: 200px;
}
/* line 58, ../sass/style.scss */
.main-head .head-content h1 {
  font-size: 44px;
  line-height: 64px;
  color: #868686;
  text-transform: uppercase;
  margin-bottom: 80px;
  font-family: OpenSansExtraBold;
}
/* line 66, ../sass/style.scss */
.main-head .head-content h3 {
  color: #868686;
}

/* line 72, ../sass/style.scss */
.how-we-work {
  background-color: #868686;
  text-align: center;
}
/* line 75, ../sass/style.scss */
.how-we-work h3 {
  color: #fff;
}
/* line 78, ../sass/style.scss */
.how-we-work .work {
  float: left;
}
/* line 80, ../sass/style.scss */
.how-we-work .work span {
  font-size: 64px;
  color: #868686;
  border-radius: 50%;
  padding: 40px;
  margin: 80px 0 40px 0;
  background-color: #fff;
}
/* line 88, ../sass/style.scss */
.how-we-work .work p {
  color: #fff;
  font-family: OpenSansRegular;
}
/* line 93, ../sass/style.scss */
.how-we-work .col-xs-1-5,
.how-we-work .col-sm-1-5,
.how-we-work .col-md-1-5,
.how-we-work .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  float: left;
}

/* line 106, ../sass/style.scss */
.we-offer {
  text-align: center;
}
/* line 108, ../sass/style.scss */
.we-offer h3 {
  color: #868686;
}
/* line 112, ../sass/style.scss */
.we-offer .offer img {
  margin: 80px auto 40px auto;
}
/* line 115, ../sass/style.scss */
.we-offer .offer p {
  color: #868686;
}

/* line 121, ../sass/style.scss */
.unlike-competitors {
  background-color: #f2bb18;
}
/* line 124, ../sass/style.scss */
.unlike-competitors h3 {
  color: #fff;
}
/* line 127, ../sass/style.scss */
.unlike-competitors .unlike {
  margin-top: 80px;
}
/* line 129, ../sass/style.scss */
.unlike-competitors .unlike span {
  font-size: 64px;
  padding: 40px;
  color: #f2bb18;
  background-color: #fff;
  border-radius: 50%;
  margin: 20px;
}
/* line 137, ../sass/style.scss */
.unlike-competitors .unlike h4 {
  color: #fff;
  margin-bottom: 20px;
}
/* line 141, ../sass/style.scss */
.unlike-competitors .unlike p {
  color: #fff;
  font-family: OpenSansRegular;
}
