/* line 5, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../Ruby193/lib/ruby/gems/1.9.1/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../sass/style.scss */
.loader {
  background: none repeat scroll 0 0 #ffffff;
  bottom: 0;
  height: 100%;
  left: 0;
  position: fixed;
  right: 0;
  top: 0;
  width: 100%;
  z-index: 9999;
}

/* line 16, ../sass/style.scss */
.loader-inner {
  background-image: url("../img/preload.gif");
  background-repeat: no-repeat;
  background-position: center center;
  background-color: #fff;
  height: 60px;
  width: 60px;
  margin-top: -30px;
  margin-left: -30px;
  left: 50%;
  top: 50%;
  position: absolute;
}

/* line 30, ../sass/style.scss */
.main-head {
  min-height: 300px;
}
/* line 32, ../sass/style.scss */
.main-head .top-line {
  padding-top: 50px;
}
/* line 34, ../sass/style.scss */
.main-head .top-line .btn {
  margin-top: 12px;
}
/* line 38, ../sass/style.scss */
.main-head .head-content {
  margin-top: 200px;
}
/* line 40, ../sass/style.scss */
.main-head .head-content h1 {
  font-size: 44px;
  line-height: 64px;
  color: #333;
  text-transform: uppercase;
  margin-bottom: 80px;
}
/* line 47, ../sass/style.scss */
.main-head .head-content h3 {
  font-size: 36px;
  line-height: 64px;
  color: #333;
  text-transform: uppercase;
}

/* line 56, ../sass/style.scss */
.how-we-work {
  background-color: #E6E6E6;
  text-align: center;
}
/* line 59, ../sass/style.scss */
.how-we-work h3 {
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
  margin-top: 100px;
}
/* line 65, ../sass/style.scss */
.how-we-work .work {
  float: left;
  margin-top: 80px;
}
/* line 68, ../sass/style.scss */
.how-we-work .work p {
  font-size: 20px;
  margin: 30px 0;
}
/* line 72, ../sass/style.scss */
.how-we-work .work span {
  font-size: 48px;
  color: #f2bb18;
  border: 5px solid #f2bb18;
  border-radius: 50%;
  padding: 20px;
}
/* line 80, ../sass/style.scss */
.how-we-work .col-xs-1-5,
.how-we-work .col-sm-1-5,
.how-we-work .col-md-1-5,
.how-we-work .col-lg-1-5 {
  position: relative;
  min-height: 1px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  float: left;
}

/* line 93, ../sass/style.scss */
.we-offer {
  text-align: center;
}
/* line 95, ../sass/style.scss */
.we-offer h3 {
  font-size: 36px;
  color: #333;
  text-transform: uppercase;
  margin-top: 100px;
}
/* line 101, ../sass/style.scss */
.we-offer .offer {
  margin-top: 80px;
}
/* line 103, ../sass/style.scss */
.we-offer .offer img {
  margin: 0 auto;
}
/* line 106, ../sass/style.scss */
.we-offer .offer p {
  font-size: 20px;
  margin: 30px 0;
}

/* line 113, ../sass/style.scss */
.unlike-competitors {
  background-color: #f2bb18;
  text-align: center;
}
/* line 117, ../sass/style.scss */
.unlike-competitors .unlike span {
  float: left;
  font-size: 54px;
}
