@import "compass/reset";

$skins: #f2bb18;

p {
    font: 16px/18px OpenSansBold;
}

h3 {
    font: 32px/46px OpenSansSemiBold;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font: 20px/30px OpenSansSemiBold;
}

.box {
    padding: 100px 0;
}

.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader-inner {
    background-image: url("../img/preload.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

.main-head {
	min-height: 300px;
	.top-line {
		padding-top: 50px;
        .btn {
            margin-top: 12px;
        }
	}
	.head-content {
		margin-top: 200px;
		h1 {
			font-size: 44px;
            line-height: 64px;
			color: #868686;
            text-transform: uppercase;
			margin-bottom: 80px;
            font-family: OpenSansExtraBold;
		}
        h3 {
            color: #868686;
        }
	}
}

.how-we-work {
    background-color: #868686;
    text-align: center;
    h3 {
            color: #fff;
        }
    .work {
        float: left;
        span {
            font-size: 64px;
            color: #868686;
            border-radius: 50%;
            padding: 40px;
            margin: 80px 0 40px 0;
            background-color: #fff;
        }
        p {
            color: #fff;
            font-family: OpenSansRegular;
        }
    }
    .col-xs-1-5,
    .col-sm-1-5,
    .col-md-1-5,
    .col-lg-1-5 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        width: 20%;
        float: left;
    }
}

.we-offer {
    text-align: center;
    h3 {
        color: #868686;
    }
    .offer {  
        img {
            margin: 80px auto 40px auto;
        }
        p {
            color: #868686;
        }
    }
}

.unlike-competitors {
    background-color: $skins;

    h3 {
        color: #fff;
    }
    .unlike {
        margin-top: 80px;
        span {
            font-size: 64px;
            padding: 40px;
            color: $skins;
            background-color: #fff;
            border-radius: 50%;
            margin: 20px;
        }
        h4 {
            color: #fff;
            margin-bottom: 20px;
        }
        p {
            color: #fff;
            font-family: OpenSansRegular;
        }
    }
}