@import "compass/reset";

$skins: #f2bb18;
$w: 40px;
$h: 4px;

p {
    font: 16px/18px OpenSansBold;
}

h3 {
    font: 32px/46px OpenSansSemiBold;
    text-transform: uppercase;
    text-align: center;
}

h4 {
    font: 20px/30px OpenSansSemiBold;
}

.box {
    padding: 100px 0;
}

.loader {
    background: none repeat scroll 0 0 #ffffff;
    bottom: 0;
    height: 100%;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    z-index: 9999;
}
.loader-inner {
    background-image: url("../img/preload.gif");
    background-repeat: no-repeat;
    background-position: center center;
    background-color: #fff;
    height: 60px;
    width: 60px;
    margin-top: -30px;
    margin-left: -30px;
    left: 50%;
    top: 50%;
    position: absolute;
}

.main-head {
	min-height: 300px;
	.top-line {
		padding-top: 50px;
        .logo {
            margin-top: 10px;
            }
            .top-menu {
                position: fixed;
                width: 100%;
                height: 100%;
                background-color: rgba(0,0,0,.8);
                right: 0;
                top: 0;
                z-index: 1;
                display: none;
                ul, li {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }
                ul {
                    margin-top: 220px;
                    text-align: center;
                    a {
                        color: #fff;
                        display: block;
                        padding: 25px 0;
                        text-transform: uppercase;
                        transition: all 0.5s; 
                    }
                    a:hover {
                        background-color: rgba(255,255,255,.1);
                        text-decoration: none;
                    }
                }
            }
            .sandwich-menu {
                width: 60px;
                height: 60px;
                position: relative;
                border: none;
                background-color: #fff;
                z-index: 2;
                .sandwich {
                    width: $w;
                    height: $w;
                    top:0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: 15px auto 0 auto;
                    .sw-topper {
                        position: relative;
                        top: 0;
                        width: $w;
                        height: $h;
                        background: rgb(0, 0, 0);
                        border: none; 
                        border-radius: 4px 4px 4px 4px;
                        transition: transform 0.5s, top 0.2s;
                            
                        /* transition-delay: 0.2s, 0s; */
                    }
                    .sw-bottom {
                        position: relative;
                        width: $w;
                        height: $h;
                        top: 11px;
                        background: rgb(0, 0, 0);
                        border: none;
                        border-radius: 4px 4px 4px 4px;
                        transition: transform 0.5s, top 0.2s;
                        transition-delay: 0.2s, 0s;
                    } 
                    .sw-footer {
                        position: relative;
                        width: $w;
                        height: $h;
                        top: $h * 5;
                        background: rgb(0, 0, 0);
                        border: none;
                        border-radius: 4px 4px 4px 4px;
                        transition: all 0.5s;
                        transition-delay: 0.1s; 
                    }
                }
                .sandwich.active {
                    .sw-topper {
                        top: 6px;
                        transform: rotate(140deg);
                    }
                    .sw-bottom {
                        top: 2px;
                        transform: rotate(-140deg);
                    }
                    .sw-footer {
                        opacity: 0;
                        top: 0;
                        transform: rotate(180deg);
                    }
                }    
        }
	}
	.head-content {
		margin-top: 200px;
		h1 {
			font-size: 44px;
            line-height: 64px;
			color: #868686;
            text-transform: uppercase;
			margin-bottom: 80px;
            font-family: OpenSansExtraBold;
		}
        h3 {
            color: #868686;
        }
	}
}

.how-we-work {
    background-color: #868686;
    text-align: center;
    h3 {
            color: #fff;
        }
    .work {
        float: left;
        span {
            font-size: 64px;
            color: #868686;
            border-radius: 50%;
            padding: 40px;
            margin: 80px 0 40px 0;
            background-color: #fff;
        }
        p {
            color: #fff;
            font-family: OpenSansRegular;
        }
    }
    .col-xs-1-5,
    .col-sm-1-5,
    .col-md-1-5,
    .col-lg-1-5 {
        position: relative;
        min-height: 1px;
        padding-right: 10px;
        padding-left: 10px;
        width: 20%;
        float: left;
    }
}

.we-offer {
    text-align: center;
    h3 {
        color: #868686;
    }
    .offer {  
        img {
            margin: 80px auto 40px auto;
        }
        p {
            color: #868686;
        }
    }
}

.unlike-competitors {
    background-color: $skins;

    h3 {
        color: #fff;
    }
    .unlike {
        margin-top: 80px;
        span {
            font-size: 64px;
            padding: 40px;
            color: $skins;
            background-color: #fff;
            border-radius: 50%;
            margin: 20px;
        }
        h4 {
            color: #fff;
            margin-bottom: 20px;
        }
        p {
            color: #fff;
            font-family: OpenSansRegular;
        }
    }
}